@import "../../../../variables/variables";

.details-container {
  .logo {
    max-width: 150px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    img {
      width: 100%;
    }
  }
  .wrapper-search {
    display: grid;
    color: #444;
    margin-top: 5%;
    grid-template-columns: 84% 16%;
    @media screen and (max-width: $md) {
      grid-template-columns: 100%;
    }
    .btn-search {
      margin-left: 10px;
      background: $search_button_color;
      @media screen and (max-width: $md) {
        margin-left: 0;
        width: 200px;
        margin: auto;
      }
    }
  }
  i.fa.fa-search {
    position: absolute;
    bottom: 8px;
    margin-left: 2px;
    font-size: 21px;
  }
  .search-container {
    position: relative;
    height: 36px;
    border: 1px solid black;
    position: relative;
    top: 50%;
    background-color: #fff;
    transform: translateY(-50%);
    input {
      width: 90%;
      position: relative;
      margin-left: 12px;
      top: 5px;
      &:focus {
        outline: none;
      }
    }
  }
  .container-details {
    border: 1px solid grey;
    margin-top: 16%;
    box-shadow: 4px 0px 12px 2px;
    background: linear-gradient(45deg, #267cad, transparent);

    @media screen and (max-width: $sm) {
      width: 70%;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .wrapper-movies {
    display: grid;
    grid-template-columns: 72.9% 27.1%;

    color: #444;
    background-color: #aecee1;
    margin-bottom: 30px;
    @media screen and (max-width: $md) {
      grid-template-columns: 50% 50%;
    }
    @media screen and (max-width: $md) {
      grid-template-columns: 100%;
    }
  }
  input {
    left: 16px;
    position: relative;
    border: none;
  }
  .wrapper-movies-text {
    display: grid;
    background-color: white;
    color: #444;
  }
  .wrapper-movies-image {
    display: grid;
    grid-gap: 3%;
    background-color: #fff;
    color: #444;

    img {
      max-width: 100%;
      transform: translateY(-50%);
      position: relative;
      top: 50%;
      margin-left: auto;
      min-height: 430px;
      @media screen and (max-width: $md) {
        min-height: 0;
        transform: translateX(-50%);
        left: 50%;
        top: 0;
        margin-left: 0;
      }
    }
  }
  .movie-title {
    font-weight: 100;
    border-bottom: 1px solid #6aaed4;
    font-size: 60px;
    @media screen and (max-width: $md) {
      font-size: 35px;
    }
  }
  .movie-text {
    font-size: 25px;
  }
  .bk-btn {
    height: 34px;
    width: 43px;
    cursor: pointer;
    background-color: #464242;

    .bk-btn-triangle {
      position: relative;
      top: 5px;
      left: 6.4px;
      width: 0;
      height: 0;
      border-top: 13px solid transparent;
      border-bottom: 13px solid transparent;
      border-right: 13px solid white;
    }
    .bk-btn-bar {
      position: relative;
      background-color: white;
      height: 7.8px;
      width: 13px;
      top: -11.64px;
      left: 18.88px;
    }
  }
}
.error-message {
  font-family: monospace;
  text-align: center;
  font-size: 57px;
  position: relative;
  bottom: 100px;
  margin-top: 21%;
  @media screen and (max-width: $md) {
    margin-top: 136px;
  }
}
