<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Search app</a>

  <div class="ml-auto d-flex">
    <div id="navbarColor01">
      <ul class="navbar-nav">
        <li (click)="show = !show" class="nav-item dropdown show">
          <i class="fa fa-globe"></i>
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="true"
            >{{ "language" | translate }}</a
          >

          <div
            [ngClass]="show ? 'show' : ''"
            class="dropdown-menu dropdown-lang"
          >
            <a
              *ngFor="let lang of translate.getLangs()"
              (click)="translate.use(lang)"
              [ngStyle]="
                lang == translate.currentLang
                  ? { 'background-color': '#CEE8FF' }
                  : { 'background-color': '' }
              "
              class="dropdown-item"
              style="cursor: pointer"
              >{{ lang }}</a
            >
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="api.api" (click)="logout()">
      <a class="nav-link ml-auto" href="#">Logout</a>
    </div>
  </div>
</nav>
