<div class="container m-auto" id="container">
  <div class="form-container sign-in-container">
    <form action="#">
      <h1>Api Key</h1>
      <input
        type="text"
        [(ngModel)]="key"
        placeholder="ApiKey"
        name="key"
        required
      />
      <a href="#">{{ "apiloginwarning" | translate }}</a>
      <button (click)="this.apiTest()">
        {{ "validate_button" | translate }}
      </button>
    </form>
  </div>
</div>
<particles
  id="particles"
  [params]="configs['myParams']"
  [style]="configs['myStyle']"
  [width]="configs['width']"
  [height]="configs['height']"
></particles>
