<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Movie Website</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Hello {{ movieService.currApiUser$ }}This website is a movie search api.
    <br />All the information about the movies is provided by
    <span style="color: blue">omdbapi</span><br />This website is made by
    goncaloAlex1 at Github.<br />
    This website os copywrited.<br />
  </div>
</ng-template>

<div class="home-div">
  <div class="logo">
    <img
      style="width: 150px"
      class="img-responsive"
      src="./assets/logo.png"
      alt=""
    />
  </div>
  <div class="wrapper-search">
    <div class="search-container" style="border: none">
      <ng-select
        placeholder="{{ 'allmovies_text' | translate }}"
        [(ngModel)]="type"
      >
        <ng-option
          *ngFor="let type of searchBy | keyvalue"
          [value]="type.key"
          >{{ type.value }}</ng-option
        >
      </ng-select>
    </div>
    <div class="search-container" style="position: relative">
      <i class="fa fa-search"></i>
      <input
        [(ngModel)]="movieUrl"
        type="text"
        placeholder="Search by title"
        (keyup.enter)="addInput()"
      />
    </div>

    <button
      class="btn btn-danger btn-search"
      (click)="addInput()"
      style="height: 36px"
    >
      {{ "search_button_text" | translate }}
    </button>
  </div>
  <ng-container *ngIf="movies.length > 0; else error">
    <div class="wrapper-3cols">
      <div
        *ngFor="let attr of movies | slice: 0:loadingPage"
        class="movie-container"
        routerLink="/details/{{ attr.imdbID }}"
      >
        <div class="movie-title">{{ attr.Title }}</div>
        <div class="movie-image">
          <img
            *ngIf="attr.Poster !== 'N/A'; else defaultImage"
            src="{{ attr.Poster }}"
            alt="{{ attr.Title }}"
          />{{ attr.Image }}

          <ng-template #defaultImage>
            <img src="./assets/movies-default.PNG" alt="{{ attr.Title }}" />{{
              attr.Image
            }}
          </ng-template>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button
        class="loadmore-button"
        *ngIf="loadingPage < movies.length"
        (click)="loadmore()"
      >
        LoadMore
      </button>
    </div>
  </ng-container>
  <ng-template #error
    ><div class="error-message">Search not found sorry!</div></ng-template
  >
</div>
