@import "~@ng-select/ng-select/themes/default.theme.css";
@import "../../../variables/variables";
.home-div {
  .containerInfo {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .logo {
    max-width: 150px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    img {
      width: 100%;
    }
  }

  .wrapper-search {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-gap: 10px;
    color: #444;
    margin-top: 5%;
    @media screen and (max-width: $md) {
      grid-gap: 3px;
      grid-template-columns: 29% 45% 26%;
      margin-bottom: 200px;
    }
  }
  i.fa.fa-search {
    position: absolute;
    bottom: 8px;
    margin-left: 2px;
    font-size: 21px;
  }
  .search-container {
    height: 36px;
    border: 1px solid black;
    position: relative;
    top: 50%;
    background-color: #fff;
    transform: translateY(-50%);
    input {
      left: 16px;
      top: 5px;
      margin-left: 8px;
      position: relative;
      border: none;
      width: 85%;
      @media screen and (max-width: $md) {
        width: 70%;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .btn-search {
    height: 36px;
    position: relative;
    top: 50%;
    background: $search_button_color;
    transform: translateY(-50%);
  }

  .wrapper-3cols {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    background-color: #fff;
    color: #444;
    margin-top: 20%;
    margin-bottom: 30px;
    position: relative;
    bottom: 45px;

    @media screen and (max-width: $md) {
      grid-template-columns: 48.5% 48.5%;
    }
    @media screen and (max-width: $sm) {
      grid-template-columns: 60%;
      margin-left: 20%;
      grid-row-gap: 52px;
      margin-right: 20%;
      width: 100%;
    }
  }

  .loadmore-button {
    width: 200px;
    background: linear-gradient(45deg, #60dbf5, #74337bc9);
    height: 44px;
    font-size: 25px;
    margin-bottom: 28px;
    margin-top: 25px;
    bottom: 4px;
    border: none;
    color: white;
    border-radius: 25px;
    position: relative;

    &:hover {
      transform: scale(1.3);
      transition: all 0.2s ease-in-out;
    }
  }
  .movie-container {
    border: 1px solid black;
    text-align: center;
    font-weight: 700;
    height: 406px;
    box-shadow: 3px 0px 9px 2px;
    @media screen and (max-width: $md) {
      height: 330px;
    }
    &:hover {
      transition: all 0.2s ease-in-out;
      transform: scale(1.1);
    }
    .movie-image {
      cursor: pointer;
      height: 94%;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .movie-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .error-message {
    font-family: monospace;
    text-align: center;
    font-size: 57px;
    position: relative;
    bottom: 100px;
    margin-top: 21%;
  }
}
